---
import "../styles/global.css";
import JSX from "../components/JsxMessage.astro";
import Navigation from "../components/Navigation.astro";

const pageTitle = "Homepage";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
	</head>
	<body>
		<p>{pageTitle}</p>
		<JSX />
		<Navigation />

		<h1>Astro Title Change</h1>
	</body>
</html>
